section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid 1px;
    border-radius: 20px;
    height: 350px;
    width: 250px;
    background-image: linear-gradient(to right, #348e91, #1c5052, #213635, #f2f2f2);
}

.card {
    width: 200px;
    border-radius: 100%;
    border: solid 5px whitesmoke;
}